body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }

  .block-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .block {
    width: 40%;
    margin: 20px;
    padding: 20px;
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
  }

  .block:nth-child(even) {
    margin-left: auto;
    margin-right: 20px;
  }

  .block:hover {
    transform: scale(1.05);
  }

  .block img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .text {
    text-align: center;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .block {
      width: 80%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media (max-width: 480px) {
    .block {
      width: 100%;
    }
  }