footer {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 20px;
}

.member {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 150px; /* Larghezza dei blocchi */
  height: 150px; /* Altezza dei blocchi */
  border-radius: 50%;
  margin: 0 90px; /* Spazio tra i blocchi */
}

.member img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.overlayz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  border-radius: 50%;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.member:hover .overlayz {
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}