footer {
    display: flex;
    justify-content: center; /* Centra i cerchi nel footer */
    background-color: #333;
    padding: 20px;
  }

.member {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10px; /* Spazio tra i cerchi */
  }

  .member img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    border-radius: 50%;
    transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .member:hover .overlay {
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.5;
  }